<!--The content below is only a placeholder and can be replaced.-->
<nav class="blue">
  <a href="#" class="brand-logo center font">Save your Link</a>
</nav>

<div class="row">
  <div class="col s12 m4 l2"></div>
  <div class="col s12 m4 l8">
    <form class="border">
      <h3>Add a Link</h3>
      <div class="field">
        <label for="title">Title:</label>
        <input name="title" #newtitle>
      </div>
      <div class="field">
        <label for="link">Link:</label>
        <input name="link" #newlink>
      </div>
      <button class="btn waves-effect waves-light blue" (click)="addArticle(newtitle, newlink)">
        Submit Link
      </button>
    </form>
    <div>
      <app-article 
        *ngFor="let article of sortedArticles()" 
        [article]="article">
      </app-article>
    </div>
  </div>
  <div class="col s12 m4 l2"></div>
</div>